
/*****************************************************************************************************************************/
/* There is no inital media query since a "mobile first" approach is being taken and so the intial values will be used       */
/* unless ones are subsequently set for a bigger screen size.                                                                */
/*****************************************************************************************************************************/

/*
	The media query value have been amended to take into account the fixed width (650px) of the jQuery Dashboard modal and the Interactive DOM modal. 
	This size of them (and approach to not use them in small devices that could not render them correctly) resulted in needing different queries to 
	the standard ones, with an additional size step to cater for a smoother transition between devices that could and could not show the modals.

	The original media query ranges have been kept in for reference purposes.
*/

	a{
		color: yellow;
	}

	figure{
		margin-bottom: 15px;
	}

	.screen-setup-img{
		height: 320px;
		width: 700px;
		border-radius: 5px;
		border: 2px solid black;
	}

    body {
        position: relative;
        font-family: 'Ubuntu', sans-serif;
    }




    .text-red {
        color: rgb(255, 0, 0);
    }

    .text-blue {
        color: rgb(24, 30, 231);
    }


		ul{
			list-style: none;
		}

		li{
			list-style: none;
		}

		h4{
			margin-top: 25px;
			margin-bottom: 5px;
		}

  		#jQuery-modal .modal-dialog {
    		width: 700px;
    		color: black;
  		}

  		#dom-modal .modal-dialog {
    		width: 700px;
    		height: 350px;
    		color: black;
  		}

		#test{
			margin-top: 20px;
		}

		button{
			border-radius: 5px;
			height: 50px;
			margin: 10px;
			padding: 10px;
			width: 150px;

		}

		#text-box{
			height: 100px;
		}


		button.small-button{
			border-radius: 5px;
			height: 30px;
			margin: 5px;
			padding: 5px;
			width: 70px;

		}

		.display-dashboard-container{
			padding: 10px;
			margin: 10px;
			display: inline-block;
		    vertical-align: text-top;
		    text-align: center;
		    width: 650px;
		}
		

		/* Targeting event panel specific p's  */
		.event-panel p{
			margin: 15px 0px 0px 0px;

		}

		
		.event-panel{
			box-sizing: border-box;
			border: 2px solid black;
			border-radius: 5px;
			padding: 10px;
			margin: 5px;
			display: inline-block;
		    vertical-align: text-top;
		    width: 190px;
		    height: 200px;
		}


		.events-dashboard-container{
			padding: 10px;
			margin: 10px;
			display: inline-block;
		    vertical-align: text-top;
		    text-align: center;		
		    width: 650px;		    
		}


		.dom-dashboard{
			padding: 10px;
			margin: 5px;
		    text-align: center;	
		    width: 660px;
		}

		#hideEvents{
			height: 35px;
			width: 80px;			
			left: 525px;
			top: 15px;

		}

		#hideDOMNav{
			height: 35px;
			width: 80px;			
			left: 525px;
			top: 55px;

		}


		.background-black{
			background-color: rgb(0, 0, 0);
		}

		.background-grey{
			background-color: rgb(204, 204, 204);
		}




		.domHighlight{
			display: inline-block;
			background-color: black;
			color: white;
			border-radius: 5px;
			padding: 3px;
			margin-left: 5px;
		}

		.domHighlightWin{
			display: inline-block;
			background-color: black;
			color: white;
			border-radius: 5px;
			padding: 3px;
			margin-left: 5px;	
		}

		.dom-container{
			height: 325px;
			background-color: white;
		}

		#window-tag{
			position: absolute;
			top: 9em;
			left: 20em;
		}

		#document-tag{
			position: absolute;
			left: 2em;
			top: 2.75em;
		}

		#html-tag{
			position: absolute;
			left: 0.5em;
			top: 2.75em;
		}

		#head-tag{
			position: absolute;
			left: -16.5em;
			top: 3.25em;
		}

		#meta-tag{
			position: absolute;
			left: -6em;
			top: 3em;
		}
		
		#css-link1-tag{
			position: absolute;
			left: -0.6em;
			top: 3em;
		}

		#css-link2-tag{
			position: absolute;
			left: 5.5em;
			top: 3em;
		}

		#body-tag{
			position: absolute;
			left: 11.5em;
			top: 3.25em;
		}

		#div1-tag{
			position: absolute;
			left: -11.5em;
			top: 3em;
		}

		#div1_1-tag{
			position: absolute;
			left: -4em;
			top: 3em;
		}

		#div1_1-h1-tag{
			position: absolute;
			left: -3em;
			top: 3em;
		}

		#div1_1-p-tag{
			position: absolute;
			left: 3.5em;
			top: 3em;
		}


		#div1-img-tag{
			position: absolute;
			left: 3em;
			top: 3em;
		}


		#div2-tag{
			position: absolute;
			left: -0.25em;
			top: 3em;
		}

		#div2-h1-tag{
			position: absolute;
			left: -3.5em;
			top: 3em;
		}

		#div2-img-tag{
			position: absolute;
			left: 2.5em;
			top: 3em;
		}


		#body-script-link-tag{
			position: absolute;
			left: 8em;
			top: 3em;
		}


	
	#activeElement{
		background-color: red;
		color: white;
		border-radius: 5px;
		padding: 3px;
		margin: 3px 3px 3px 3px;	
		/* t r b l */
	}

	#childElement{
		background-color: blue;
		color: white;
		border-radius: 5px;
		padding: 3px;
		margin: 0px 3px 3px 0px;	
	}

	#parentElement{
		background-color: green;
		color: white;
		border-radius: 5px;
		padding: 3px;
		margin: 0px 3px 5px 3px;
	}


	#siblingElement{
		background-color:orange;
		color: white;
		border-radius: 5px;
		padding: 3px;
		margin: 0px 3px 5px 0px;
	}

	.key{
		margin: 0;
		width: 60px;
		font-size: 0.75em;
		font-weight: bold;
		display: inline-block;
	}

	#keyPanel{
		position: relative;
		left: 18em;
		top: -24em;
		border: 2px black solid;
		display: inline-block;
		padding: 5px;
		border-radius: 5px;		
	}

	#domNavPanelCont{
		border: 2px black solid;
		background-color: white;
	}


    #site-intro {
        padding-top: 50px;
        height: 700px;
        color: #fff;
		background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed; 
    }

    #intro-jQuery {
        padding-top: 50px;
        height: 1800px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #selecting-jQuery {
        padding-top: 50px;
        height: 2200px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }

    #changing-jQuery {
        padding-top: 50px;
        height:1150px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #events-jQuery {
        padding-top: 50px;
        height: 2000px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #this-jQuery {
        padding-top: 50px;
        height: 1100px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #intro-dom {
        padding-top: 50px;
        height: 1250px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


	ul{
  		padding-left:0px;
	}

	ul ul{
  		padding-left:10px;
	}


/********************************************/
/* Very Small devices (phones in Landscape)  */
/* not to have the badages */
/*********************************************/
@media (min-width: 450px) and (max-width: 600px) {

    #site-intro {
        padding-top: 50px;
        height: 500px;
        color: #fff;
		background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed; 
    }

    #intro-jQuery {
        padding-top: 50px;
        height: 1200px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #selecting-jQuery {
        padding-top: 50px;
        height: 1450px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }

    #changing-jQuery {
        padding-top: 50px;
        height:825px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #events-jQuery {
        padding-top: 50px;
        height: 1350px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #this-jQuery {
        padding-top: 50px;
        height: 800px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #intro-dom {
        padding-top: 50px;
        height: 900px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }
}


/********************************************/
/* Very Small devices (phones in Landscape)  */
/* not to have the badages */
/*********************************************/
@media (min-width: 600px) and (max-width: 719px) {

    #site-intro {
        padding-top: 50px;
        height: 450px;
        color: #fff;
		background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed; 
    }

    #intro-jQuery {
        padding-top: 50px;
        height: 1100px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #selecting-jQuery {
        padding-top: 50px;
        height: 1200px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }

    #changing-jQuery {
        padding-top: 50px;
        height:650px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #events-jQuery {
        padding-top: 50px;
        height: 1150px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #this-jQuery {
        padding-top: 50px;
        height: 750px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #intro-dom {
        padding-top: 50px;
        height: 800px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }
}


@media (min-width: 720px) and (max-width: 820px) {

    #site-intro {
        padding-top: 50px;
        height: 400px;
        color: #fff;
		background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed; 
    }

    #intro-jQuery {
        padding-top: 50px;
        height: 950px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #selecting-jQuery {
        padding-top: 50px;
        height: 1400px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }

    #changing-jQuery {
        padding-top: 50px;
        height:950px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #events-jQuery {
        padding-top: 50px;
        height: 1050px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #this-jQuery {
        padding-top: 50px;
        height: 750px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #intro-dom {
        padding-top: 50px;
        height: 750px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


}


/********************************************/
/* Small devices (tablets, 768px to 991px) */
/*                 col-sm-*                */
/*********************************************/
@media (min-width: 821px) and (max-width: 991px) {

    #site-intro {
        padding-top: 50px;
        height: 400px;
        color: #fff;
		background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed; 
    }

    #intro-jQuery {
        padding-top: 50px;
        height: 900px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #selecting-jQuery {
        padding-top: 50px;
        height: 1350px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }

    #changing-jQuery {
        padding-top: 50px;
        height:900px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #events-jQuery {
        padding-top: 50px;
        height: 950px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #this-jQuery {
        padding-top: 50px;
        height: 700px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #intro-dom {
        padding-top: 50px;
        height: 700px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


}


/******************************************************/
/* Medium devices (tablets/desktops, 992px to 1199px) */
/*                        col-md-*                    */
/******************************************************/
@media (min-width: 992px)and (max-width: 1199px) { 

    #site-intro {
        padding-top: 50px;
        height: 400px;
        color: #fff;
		background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed; 
    }

    #intro-jQuery {
        padding-top: 50px;
        height: 850px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #selecting-jQuery {
        padding-top: 50px;
        height: 1250px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }

    #changing-jQuery {
        padding-top: 50px;
        height:850px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #events-jQuery {
        padding-top: 50px;
        height: 900px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #this-jQuery {
        padding-top: 50px;
        height: 650px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #intro-dom {
        padding-top: 50px;
        height: 650px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }

}

/* Large devices (large desktops 1200px and above) */
/*                    col-lg-*                     */
@media (min-width: 1200px) {

    #site-intro {
        padding-top: 50px;
        height: 400px;
        color: #fff;
		background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed; 
    }

    #intro-jQuery {
        padding-top: 50px;
        height: 750px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #selecting-jQuery {
        padding-top: 50px;
        height: 1250px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }

    #changing-jQuery {
        padding-top: 50px;
        height:850px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #events-jQuery {
        padding-top: 50px;
        height: 850px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #this-jQuery {
        padding-top: 50px;
        height: 650px;
        color: #fff;
        background: #3061b2 url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


    #intro-dom {
        padding-top: 50px;
        height: 650px;
        color: #fff;
        background: #0494ed url('../img/jQuery_icon2.png') no-repeat center center fixed;
    }


}



